.whatsapp-fixo {
  position: fixed;
  bottom: 40px;
  right: 20px;
}


.whatsapp-fixo img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.whatsapp-fixo img:hover {
  transform: scale(1.1);
}